<html>
	<head> 
		<title>Ml Project</title>
		<link  rel="stylesheet"    href="{{ url_for('static', filename='style.css')  }}">	

	</head>



<form action="/pred" method="post"> 
    <input type="text" name="v1" id="Item_Identifier"  placeholder="Item_Identifier" > <br> <br>

    <input type="text" name="v2" id="Item_Weight"  placeholder="Item_Weight" > <br> <br>

    <input type="text" name="v3" id="Item_Fat_Content"  placeholder="Item_Fat_Content" > <br> <br>

    <input type="text" name="v4" id="Item_Visibility"  placeholder="Item_Visibility" > <br> <br>

    <input type="text" name="v5" id=" Item_Type"  placeholder="Item_Type" > <br> <br>

    <input type="text" name="v6" id="Item_MRP"  placeholder="Item_MRP" > <br> <br>

    <input type="text" name="v7" id="Outlet_Identifier"  placeholder="Outlet_Identifier" > <br> <br>

    <input type="text" name="v8" id="Outlet_Establishment_Year"  placeholder="Outlet_Establishment_Year" > <br> <br>

    <input type="text" name="v9" id="Outlet_Size"  placeholder="Outlet_Size" > <br> <br>

    <input type="text" name="v10" id="Outlet_Location_Type"  placeholder="Outlet_Location_Type" > <br> <br>

    <input type="text" name="v11" id="Outlet_Type"  placeholder="Outlet_Type" > <br> <br>

    <button type="submit">Make Prediction</button>



</form>

<h1>The sales is : {{sales}} </h1>
</html> 